{% extends "base.html" %}
{% block title %}Liste des menus{% endblock title %} {% block content %}
<div class="row">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
    
    
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <ul class="navbar-nav  justify-content-start">
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-outline-warning btn-sm mb-0 me-3" href="{% url "menu:add" %}">Ajouter un menu</a>
              </li>
            </ul>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <form method="GET" style="display:flex; ">
             
                <div class="input-group input-group-outline">
                  <label class="form-label">Recherche par id</label>
                  <input type="number" class="form-control" name="search" value="{{ search_field }}">
                </div>
             
              <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                  <button class="btn btn-outline-primary btn-sm mb-0 me-3" type="submit">Recherche</button>
                </li>
              </ul>
            </form>
          </div>
          </div>
        </div>
      </nav>
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-warning shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h6 class="text-white text-capitalize ps-3">Liste des menus ({{ total }})</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Date
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Plat
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 align-items-center"
                ></th>
              </tr>
            </thead>
            <tbody>
              {% for menu in all_menu %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ menu.creation_date }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{menu.dishes.name}}</h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center text-sm">
                  <a
                    href="{% url 'menu:edit' menu.id %}"
                    class="badge badge-sm bg-gradient-success"
                  >
                    Modifier
                  </a>
                  <a
                    href="{% url 'menu:delete' menu.id %}"
                    class="badge badge-sm bg-gradient-danger"
                  >
                    Supprimer
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
